* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
  justify-content: center;
  padding-left: 300px;
  padding-top: 60px;
}
main {
  width: 60%;
  margin: 50px;
  display: flex;
  justify-content: center;
  height: 60vh;
}
.a{
  text-align: center;
  font-weight: 700;
  padding-left: 220px;
  font-size: 25px;
}
.heading1 {
  background-color: rgb(189, 127, 11);
  padding: 20px;
  color: white;
}
.heading2 {
  background-color: rgb(6, 120, 126);
  color: white;
  padding: 20px;
}
.heading3 {
  background-color: rgb(2, 45, 59);
  color: white;
  padding: 20px;
}
.paragraph3 {
  padding-top: 50px;
}
.paragraph2 {
  padding-top: 50px;
}
.paragraph1 {
  padding-top: 50px;
}
img {
  border-radius: 50%;
  max-width: 40%;
}
button {
  background-color: white;
  border: 2px;
  border-radius: 25px;
  bottom: 22%;
  position: fixed;
  padding-left: 0%;
  font-size: large;
  padding: 5px;
  height: 50px;
  width: 150px;
  font-family: lato;

  box-sizing: border-box;
}

.h1 {
  font-weight: bold;
  padding-top: 30px;
}
.h2 {
  font-weight: bold;
  padding-top: 30px;
}
.h3 {
  font-weight: bold;
  padding-top: 30px;
}
button:hover {
  opacity: 30%;
  color: white;
  background-color: transparent;
  border: 2px solid;
}
.base1 {
  color: rgb(6, 120, 126);
}
.base2 {
  color: rgb(2, 45, 59);
}
.base3 {
  color: rgb(189, 127, 11);
}
